<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/about.css">
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="admin_nav"><a href="/admin">Admin</a></li>
            <li class="admin_nav">
                <button onClick="localStorage.removeItem('loggedIn')">Logout</button>
              </li> 
        </ul>
    </nav>
</head>