html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000ec;
    color: white;
}

/* NAVIGATION BAR*/
nav {
    /*position: sticky;
    top: 0;
    Nav bar stays on top even if you scroll*/
    background-color: #000000;
    border-bottom: 1px solid;
    border-radius: 1px;
    border-color: rgb(35, 35, 35);
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(220, 20, 60);
    display: block;
    padding: 1rem;
}

/* General Heading */
.heading {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}