<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: 'About'}) %>
<body>

    <div class="main-box">
        <div class="links-box">
            <h3>Useful links</h3>
            <ul>
                <li><a href="https://github.com/maggieekubat/Recipe">Github Repository</a></li>
                <li><a href="https://code.berlin/en/">Code University Website</a></li>
            </ul>
        </div>

        <div class="about-text">
            <p>My name is Maggie Kubat and this is my attempt at learning to use HTML and CSS. 
                I'm trying out new things and sadly not making them look very good. 
                I'm learning and getting better by the day 😊</p>
        </div>

    </div>
</body>
</html>