<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: 'Contact'}) %>
<body>

    <h1 class="heading">Contact Us</h1>

    <form action="/contact" method="post">
        <input type="text" name="name" placeholder="name">
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <textarea name="message" placeholder="message"></textarea>
        <br>

        <button>Send</button>
    </form>
    
</body>
</html>  