<!DOCTYPE html>
<html lang="en">
<%- include('includes/recipeHead', {title: 'Gnocchi Vodka Bake'}) %>
<body>

    <h1 class="heading recipe-head" >Cheesy Baked Gnocchi With Vodka Sauce</h1>
    <h3><a href="https://www.bytheforkful.com/gnocchi-with-vodka-sauce/#mv-creation-215-jtr">Link to Original Recipe</a></h3>
    <h3>Ingredients</h3>
    <ul>
        <li>400g fresh gnocchi</li>
        <li>1 tbsp butter</li>
        <li>2 medium cloves of garlic, minced</li>
        <li>3 tbsp tomato paste</li>
        <li>30ml (2 tbsp) vodka</li>
        <li>125ml (½ cup) heavy cream</li>
        <li>125ml (½ cup) vegetable stock</li>
        <li>1 tsp (1 tsp) salt</li>
        <li>15g pecorino (or alternative hard cheese)</li>
        <li>80g mozzarella, sliced thinly</li>
        <li>Fresh black pepper to taste</li>
        <li>1 handful (10 - 12 leaves) fresh basil</li>
    </ul>
    <h3>Instructions</h3>
    <ol>
       <li>Preheat your oven to 200°C</li>
       <li>Heat your butter in your casserole dish, and once it’s melted add the minced garlic.</li>
       <li>Saute for 1-2 minutes until the garlic turns fragrant, but don’t let the garlic brown. Add the tomato paste and stir it into the garlic and butter.</li>
       <li>Add the vodka, stir, and allow the alcohol to cook off for 1-2 minutes.</li>
       <li>Pour in the heavy cream, vegetable stock, and salt. Stir to combine and allow the sauce to warm through for 4-5 minutes. It should begin to turn thick and velvety - stir often.</li>
       <li>Add the pecorino and the gnocchi. Use your spoon to ensure the gnocchi is fully coated in the sauce.</li>
       <li>Top the dish with your mozzarella slices and basil leaves, then finish with freshly cracked black pepper.</li>
       <li>Put the dish in your oven and bake for 10 - 15 minutes or until the mozzarella has melted and turned slightly golden on top.</li>
    </ol>
</body>
</html>

