<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: 'Home'}) %>
<body>
    
    <h1 class="heading home-heading">Welcome to Maggie's Recipe Project Website</h1>
    
    <!-- <p class="text3000">We currently have <%=numberOfRecipes %> recipes on the website</p> -->
    <!-- <ul>
        <li><a class="recipe-list" href="/recipe/mushroom-rice">Mushroom Rice</a> </li>
        <li><a class="recipe-list" href="/recipe/gnocchi-bake">Gnocchi bake</a> </li>
    </ul> -->

    <br>
    <p> <a href="/recipe/new">Click here</a> to make a new recipe</p>
</body>
<!-- Font Awesome Icons Link -->
<!--<script src="https://kit.fontawesome.com/25a047c680.js" crossorigin="anonymous"></script> -->
</html>
