<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: 'Home'}) %>
<body>
    
    <h1 class="heading home-heading">Recipes</h1>
    <ul>
        <li><a class="recipe-list" href="/recipe/mushroom-rice">Mushroom Rice</a> </li>
        <li><a class="recipe-list" href="/recipe/gnocchi-bake">Gnocchi bake</a> </li>
    </ul>

</body>
<!-- Font Awesome Icons Link -->
<!--<script src="https://kit.fontawesome.com/25a047c680.js" crossorigin="anonymous"></script> -->
</html>
