<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Index'}) %>
<body>

    <h1 class="heading">Welcome to Maggie's Recipe Project Website</h1>
    
    <p class="text3000">We currently have <%=numberOfRecipes %> recipes on the website</p>
    <p class="text3000">Contact us <a class="here" href="about.html">here</a> to add a recipe to the website</p>

    <script type="text/javascript" src="app.js"></script> 
</body>
</html>