<!DOCTYPE html>
<html lang="en">
<%- include('includes/recipeHead'), {title: 'Mushroom Rice'} %>
<body>

    <h1 class="heading recipe-head" >Mushroom Rice</h1>
    <h3><a href="https://www.recipetineats.com/mushroom-rice/#wprm-recipe-container-22856">Link to Original Recipe</a></h3>
    <h3>Ingredients</h3>
    <ul>
        <li>2 - 3 tbsp olive oil , separated</li>
        <li>30g / 2 tbsp butter</li>
        <li>750g mushrooms , sliced 3 - 5 mm</li>
        <li>2 garlic cloves , minced</li>
        <li>1 small onion , finely diced</li>
        <li>300 g long grain rice, uncooked</li>
        <li>565 ml (2 1/4 cups) vegetable stock</li>
        <li>1 1/2 - 2 cups green onions , sliced</li>
        <li>Optional: More butter to stir through</li>
    </ul>
    <h3>Instructions</h3>
    <ol>
        <li>Heat 2 tbsp oil in a large pot over high heat. Add half the mushrooms, and cook for 5 minutes until golden. Season with salt and pepper then remove and set aside (we put these in at the end, mushrooms cooked in rice don't stay as golden).</li>
        <br>
        <li>If the pot is dry, another 1/2 - 1 tbsp oil, and add butter. When melted, add onions and garlic.</li>
        <br>
        <li>Cook for 30 seconds, then add remaining mushrooms. Cook for 5 minutes or until mushrooms are lightly browned (they won't caramelise as well as the first batch) and the base of the pot is brown.</li>
        <br>
        <li>Add rice and a splash of broth. Mix so the brown stuff on the bottom of the pot mixes into the liquid. (Video below helpful here)</li>
        <br>
        <li>Once the base of the pot is clean, add remaining liquid. Place lid on, bring to a simmer then turn down to medium low.</li>
        <br>
        <li>Cook for 15 minutes or until there is no residual liquid (tilt pot to check).</li>
        <br>
        <li>Remove from stove, remove lid, QUICKLY toss in reserved mushrooms and scallions, put lid back on. Leave for 10 minutes (do not skip this step!).</li>
        <br>
        <li>Fluff rice using a fork or wooden spoon. OPTIONAL: Stir through more butter. 🙂 Serve!</li>
    </ol>
</body>
</html>