<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Recipes'}) %>
<body>

    <h1 class="heading">Current Recipes:</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
        <li>
            <% if(recipe.isOnline) { %>
                <a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a>
            <% } else { %>
                <%= recipe.name %> [NOT ONLINE]
            <% } %>
        </li>
        <% }) %>
    </ul>
    
</body>
</html>