<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'New Recipe'}) %>
<body>
    <h2 class="heading">Create a new recipe</h2>

    <form action="/recipes" method="post">
        <input type="text" name="name" placeholder="name" required> <br>
        <input type="text" name="slug" placeholder="slug" required> <br>
        <input type="text" name="description" placeholder="description" required> <br>
        <button>Save</button>
    </form>
</body>
</html>