<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Recipes'}) %>
<head>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>

    <h1 class="heading">Current Recipes:</h1>

    
</body>
</html>