<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Recipes'}) %>
<head>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>

    <h1 class="heading">Current Recipes:</h1>

    <ul>
        <li> <a href="/recipe/mushroom-rice">Mushroom Rice</a></li>
        <li> <a href="/recipe/gnocchi-bake">Gnocchi Bake</a></li>
    </ul>
</body>
</html>